@import url("create-event.css");
@import url("full-event-details.css");
@import url("login.css");
@import url("pop-up.css");
@import url("register.css");
@import url("sidebar.css");
@import url("navbar.css");
@import url("main-section.css");
@import url("my-events.css");

:root {
    --containers: rgb(235, 235, 235);
    --containers-light: rgba(235, 235, 235, 0.5);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(235, 235, 235, 0);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6e6e6e;
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none;
}

.border {
    border: solid black;
}

.button-colours {
    background-color: white;
    width: 100px;
    color: lightcoral;
    padding: 8px;
    font-size: large;
    cursor: pointer;
    margin: 0 5px;
    font-weight: 700;
    border-radius: 5px;
    border: solid white;
}

.button-colours:hover {
    background-color: lightcoral;
    color: white;
    border: white solid;
}

.button-colours-reverse {
    background-color: lightcoral;
    color: white;
    border: white solid;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}
.button-colours-reverse:hover {
    background-color: white;
    color: lightcoral;
    border: lightcoral solid;
}

#my-events-button {
    margin-bottom: 20px;
}

#my-events-popup .pop-up-center {
    flex-direction: column;
}

#my-events-container {
    display: flex;
    flex-wrap: wrap;
    top: 68px;
    left: 250px;
    justify-content: center;
    height: calc(100vh - 68px);
    border-right: 2px white solid;
}

.visibility-hidden {
    visibility: hidden;
}
