:root {
    --containers: rgb(235, 235, 235);
    --containers-light: rgba(235, 235, 235, 0.5);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

.border {
    border: solid black;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
    border-bottom: white solid 3px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 0px 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.button-colours {
    background-color: white;
    width: 100px;
    color: coral;
    padding: 8px;
    font-size: large;
    cursor: pointer;
    margin: 0 5px;
    font-weight: 700;
    border-radius: 5px;
    border: solid white;
}

.button-colours:hover {
    background-color: lightcoral;
    color: white;
    border: white solid;
}

.button-colours-reverse {
    background-color: lightcoral;
    color: white;
    border: white solid;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}
.button-colours-reverse:hover {
    background-color: white;
    color: coral;
    border: coral solid;
}

.category-sidebar {
    width: 250px;
    background-color: lightcoral;
    color: white;
    position: fixed;
    top: 65px;
    left: 0;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-list {
    padding: 0px auto;
    list-style: none;
    font-size: 17px;
}

.category-list input {
    width: 200px;
    border: none;
    padding: 7px;
    font-size: 15px;
    border-radius: 20px;
    color: coral;
    text-align: center;
    margin: 10px 0;
}

.category-list li {
    padding: 10px 0;
    padding-left: 25px;
    margin: 0 5px;
    border-radius: 2px;
}

.category-list li:hover {
    background-color: white;
    color: coral;
    cursor: pointer;
}

.sidebar-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.sidebar-button-container button {
    width: 220px;
}

.main-section {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 68px;
    left: 250px;
    justify-content: center;
    height: calc(100vh - 68px);
    border-right: 2px white solid;
}

.event-container {
    flex: 1 0 42%;
    background-color: var(--containers);
    min-width: 300px;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.event-container:hover {
    background-color: var(--containers-light);
    cursor: pointer;
}

.picture-container img {
    width: 100%;
    border-radius: 10px;
}

.event-details-container {
    padding: 10px;
}

.buttons-container {
    display: flex;
}
.button-container {
    display: flex;
    flex-direction: column;
}

.button-container span {
    text-align: center;
}

.button-container button {
    background-color: lightcoral;
    border: solid var(--containers);
    padding: 5px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.button-container button:hover {
    background-color: white;
    border: solid lightcoral;
    padding: 5px;
    color: lightcoral;
    font-weight: 600;
    cursor: pointer;
}
